.heading_style {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: $white;


  // mobile size media queries at 375px LANDSCAPE
  @media screen and (min-width: 375px) and (orientation: landscape) {
    font-size: 3.5rem;
  }

  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    font-size: 4.4rem;
  }

  // tablet size media queries at 760px LANDSCAPE
  @media screen and (min-width: 760px) and (orientation: landscape) {
    font-size: 5.8rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    font-size: 6.5rem;
  }
}

.paragraph_style {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  color: $white;

  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    font-size: 1.8rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }

}

.inputfield_style {
  font-style: italic;
}

.button_style {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: $white;
  padding: 1.2rem 2rem;
  border: none;
  border: 2px solid transparent; // to avoid moving input 1px on focus
  width: 90%;
  display: block;
  transition: all 0.3s;
  margin: 4rem auto;
  background-color: $red;
  cursor: pointer;

  // mobile size media queries at 375px LANDSCAPE
  @media screen and (min-width: 375px) and (orientation: landscape) {
    width: 75%;
  }

  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    width: 81%;
    margin: 1rem auto;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    width: 63.5%;
  }

  &:hover .fa-caret-right {
    transform: translateX(4px);
  }
}

.error_msg_style {
  font-family: 'Merriweather', serif;
  font-size: .9rem;
  color: $white;

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    font-size: 1.2rem;
  }
}