#input_selection {

  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    display: flex;
    justify-content: center;
  }

}

.form_input {
  font-size: 1.6rem;
  font-family: 'Merriweather', serif;
  color: $grey;
  padding: 1.2rem 2rem;
  border: none;
  border: 2px solid transparent; // to avoid moving input 1px on focus
  width: 90%;
  display: block;
  transition: all 0.3s;
  margin: 4rem auto;

  // mobile size media queries at 375px LANDSCAPE
  @media screen and (min-width: 375px) and (orientation: landscape) {
    width: 75%;
  }

  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    width: 40%;
    margin: 4rem .4rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    width: 31.4%;
    margin: 4rem .5rem;
  }

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($black, 0.1);
  }
}

//! validate email address in form
.inputInvalid {
  border: 2px solid $red;
}

input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $grey;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $grey;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $grey;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $grey;
  }

}

.invalid_email {
  position: absolute;
  top: 29.4rem;
  left: 20.4rem;

  // mobile size media queries at 375px LANDSCAPE
  @media screen and (min-width: 375px) and (orientation: landscape) {
    top: 23.4rem;
    left: 43rem;
  }

  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    top: 32.5rem;
    left: 22.6rem;
  }

  // tablet size media queries at 760px LANDSCAPE
  @media screen and (min-width: 760px) and (orientation: landscape) {
    top: 25.8rem;
    left: 35rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    top: 42.2rem;
    left: 51.5rem;
  }
}

.invalid_select {
  position: absolute;
  top: 38rem;
  left: 21.8rem;

  // mobile size media queries at 375px LANDSCAPE
  @media screen and (min-width: 375px) and (orientation: landscape) {
    top: 31.8rem;
    left: 44.3rem;
  }


  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    top: 32.5rem;
    left: 55.4rem;
  }

  // tablet size media queries at 760px LANDSCAPE
  @media screen and (min-width: 760px) and (orientation: landscape) {
    top: 25.8rem;
    left: 78.4rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    top: 42.2rem;
    left: 99.4rem;
  }

}

select {

  background: url('../images/drop-down-arrow.png') no-repeat right $white;
  -webkit-appearance: none;
  background-position-x: 30rem;
  color: $grey;
  border: 0 none;
  outline: 1px none;

  // mobile size media queries at 375px LANDSCAPE
  @media screen and (min-width: 375px) and (orientation: landscape) {
    background-position-x: 46rem;
  }

  // tablet size media queries at 760px
  @media screen and (min-width: 760px) {
    background-position-x: 27rem;
  }

  // tablet size media queries at 760px LANDSCAPE
  @media screen and (min-width: 760px) and (orientation: landscape) {
    background-position-x: 37rem;
  }

  // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    background-position-x: 41rem;
  }

  option {
    color: $grey;
    border: 0 none;
    outline: 1px none;
  }

}

.fa-caret-right {
  margin-left: 9px;
  margin-bottom: -1px;

}

#select_icon_box {
  display: inline-block;
}